form {
    width: 250px;
}

input[type=text],input[type=password] {
    margin-bottom: 15px;
    height: 25px;
    width: 250px;
    border: 1px solid grey;
}

input[type=submit] {
    float: right;
    background-color: lightgrey;
    border: 1px solid grey;
    height: 25px;
}